**Data Exploration**

In [44]:
# importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:
df=pd.read_csv('AdSmartABdata.csv')
df.head(5)

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [46]:
# number of rows and columns
print(df.shape)

(8077, 9)

In [47]:
# list of columns
df.columns.tolist()

['auction_id',
 'experiment',
 'date',
 'hour',
 'device_make',
 'platform_os',
 'browser',
 'yes',
 'no']

**Finding the the Columns with Missing Values**

In [48]:
df.isna().sum()

auction_id     0
experiment     0
date           0
hour           0
device_make    0
platform_os    0
browser        0
yes            0
no             0
dtype: int64

In [49]:
counts = df['experiment'].value_counts()
counts

control    4071
exposed    4006
Name: experiment, dtype: int64

In [50]:
counts = df['date'].value_counts()
counts

2020-07-03    2015
2020-07-09    1208
2020-07-08    1198
2020-07-04     903
2020-07-10     893
2020-07-05     890
2020-07-06     490
2020-07-07     480
Name: date, dtype: int64

In [51]:
counts = df['hour'].value_counts()
counts

15    1895
8      394
7      381
9      346
10     336
16     335
6      327
14     319
5      302
13     290
11     282
4      281
12     278
18     273
3      266
20     264
17     263
2      230
19     227
1      222
21     206
0      194
22     135
23      31
Name: hour, dtype: int64

In [52]:
counts = df['device_make'].value_counts()
counts

Generic Smartphone    4743
iPhone                 433
Samsung SM-G960F       203
Samsung SM-G973F       154
Samsung SM-G950F       148
                      ...
VFD 500                  1
VFD 700                  1
Samsung SM-N976V         1
Samsung GT-I9195         1
Samsung SM-N9750         1
Name: device_make, Length: 270, dtype: int64

In [53]:
counts = df['platform_os'].value_counts()
counts

6    7648
5     428
7       1
Name: platform_os, dtype: int64

In [54]:
counts = df['browser'].value_counts()
counts

Chrome Mobile                 4554
Chrome Mobile WebView         1489
Samsung Internet               824
Facebook                       764
Mobile Safari                  337
Chrome Mobile iOS               51
Mobile Safari UI/WKWebView      44
Chrome                           3
Opera Mobile                     3
Pinterest                        3
Edge Mobile                      1
Firefox Mobile                   1
Android                          1
Opera Mini                       1
Puffin                           1
Name: browser, dtype: int64

In [55]:
df = df.groupby(['experiment'])['yes'].sum().reset_index()
df

  experiment  yes
0    control  264
1    exposed  308

In [56]:
df = df.groupby(['experiment'])['no'].sum().reset_index()
df

KeyError: 'Column not found: no'